<h1>Editing school_team</h1>

<% form_for(@school_team) do |f| %>
  <%= render :partial => 'form', :object=>f %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Back', school_teams_path %>
