<h1>Editing your district</h1>
<p>Available to Users with the role of "district_admin"</p>

<p>You can change the name of your district, your abbreviation, or your logo here.</p>

<p>The abbreviation is for your custom url (for example http://mmsd-wi-us.sims-open.vegantech.com  the abbrev is mmsd.)</p>

<p>To add a logo just hit browse and select the logo from your local machine.   It should be 200 pixels wide and 40 pixels in height.</p>

<p>If you want to change your logo, just repeat the above to add a different one.</p>

<p>If you have previously saved a logo, you can click the delete logo checkbox to remove it.</p>

<p>Your changes will take effect once you hit update</p>
