<h1>Splash Page</h1>
<p>Find me in app/views/main/index.html.erb</p>

<%=flash[:notice] %>

<% if session[:user_id] %>
  <%= render :partial => 'login/logout' %>
  <%= link_to 'School Selection', schools_url %> 
<% else %>
  <%=render :partial => 'login/login' %>
<% end %>


