<%@stats.each do |klass, metrics| %>
    <h2><%= fix_names(klass.titleize) %></h2>
    <table>
      <% metrics.each do |name,value|  %>
        <tr>
          <td width="350px"><%=name.to_s.titleize%></td>
          <td><%=value%></td>
        </tr>
      <% end %>
    </table>
  <% end %>



