<div id="probe_definition_benchmark_<%=index %>">
<% fields_for 'intervention[intervention_probe_assignment][probe_definition][probe_definition_benchmarks_attributes][]', probe_definition_benchmark , :index=>index do |form | %>
    <%= form.hidden_field :id unless probe_definition_benchmark.new_record? %>
    <%= hidden_field_tag "intervention[intervention_probe_assignment][probe_definition][probe_definition_benchmarks_attributes[#{index}][_destroy]", true %>
<% end %>
</div>
