
  <p>
    <b>Title</b><br />
    <%= form.text_field :title %>
  </p>

  <p>
    <b>Description</b><br />
    <%= form.text_area :description %>
  </p>
  <p>
    <%= submit_tag submit_name %>
  </p>
