<%= render :partial => "intervention_builder/objectives/summary" %>
<p>
  <b>Intervention Category Title:</b>
  <%=h @intervention_cluster.title %>
</p>

<p>
  <b>Intervention Category Description:</b>
  <%=h @intervention_cluster.description.to_s %>
</p>
