<% if @show %>
  <h2>Country Administration</h2>
  <ul>
    <li><%=link_to 'Manage States', states_url unless @district.system_admin?%> </li>
    <li><%=link_to 'Edit your country', edit_country_url(@district.country) %> </li>
  </ul>
<% end %>
