<div id="add_benchmark_link">
  <%= link_to_remote "Add Benchmark", :url => {:action => 'add_benchmark', :index => index}, 
    :loading => "Element.show('spinnerbenchmark')", :complete => "Element.hide('spinnerbenchmark')" %><%= spinner('benchmark') %>
</div>
