<p><b>Groups are determined by the recommended monitors page via the intervention builder.  </b></p>  
<ul id="probe_definition_list">
  <% @probe_definitions_in_groups.each do |k,g| %>
    <%= content_tag :h2, k.to_s.titleize %>
    <% g[:clusters].each do |k,ic| %>
      <%= content_tag :h4, k unless k==:none%>
      <%=render :partial=>'probe_definition',:collection=>ic[:probes] %>
    <% end %>
  <% end %>
</ul>





<p>
  <%= link_to "Create New Progress Monitor", new_intervention_builder_probe_path %>
  
 </p>
