log/*.log
tmp/**/*
tmp/*
tmp/webrat*.html
tmp/restart.txt
doc/api
doc/app
config/database.yml
config/secret
*~
*.sqlite3
db/*.sqlite3-journal
coverage
coverage.data
rcovrt.so
.screenrc
file/
public/javascripts/all.js
public/system
sims_open.tmproj
rerun.txt
.bundle
vendor/cache
db/*.sqlite3
tmp/
