[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git://github.com/dchelimsky/rspec.git
[submodule "vendor/plugins/rspec-rails"]
	path = vendor/plugins/rspec-rails
	url = git://github.com/dchelimsky/rspec-rails.git
[submodule "vendor/plugins/cucumber"]
	path = vendor/plugins/cucumber
	url = git://github.com/aslakhellesoy/cucumber.git
[submodule "vendor/plugins/html_matchers"]
	path = vendor/plugins/html_matchers
	url = git://github.com/bendycode/html_matchers.git
[submodule "vendor/plugins/coveralls"]
	path = vendor/plugins/coveralls
	url = git://github.com/vegantech/coveralls.git
[submodule "vendor/plugins/cells"]
	path = vendor/plugins/cells
	url = git://github.com/apotonick/cells.git
[submodule "vendor/rails"]
	path = vendor/rails
	url = git://github.com/rails/rails.git
