language: ruby
rvm: 2.0
bundler_args: "--without development"

services:
  - memcached

#before_install: rvm install rubygems 1.8.17; sudo apt-get install -y unzip
before_install:
  - ". gc_env.sh"
  - "sudo apt-get install -yqq unzip"
before_script:
  - "cp config/database.yml.mysql config/database.yml"
  - "cp config/windows_live.yml.sample config/windows_live.yml"
  - "bundle exec rake db:create db:schema:load"
# drop:all db:create:all db:schema:load;"
script:
  - bundle exec rake test_with_coveralls
branches:
  only:
  - master
  - rm_production
