<% f.fields_for(:cico_periods, cico_period,  :child_index => child_index(cico_period)) do |ff| %>
  <div>
    <%= ff.label :name %><br />
    <%= ff.text_field :name %>
    <%= delete_nested_object_link "Delete", ff %>
  </div>
<% end %>

