<p>
  Text: (Required) <%=markdown_note %><br />
  <%= f.text_area :text %>
</p>
<p>
  Kind: (Required) <%= f.select :kind, ElementDefinition.kinds_of_elements.collect{|key, value| [value, key.to_s]} %>
</p>
