<h1>New Element Definition</h1>
<%= error_messages_for :element_definition %>
<%- form_for :element_definition, :url => checklist_builder_elements_path do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f, :element_definition => @element_definition } %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<%- end -%>
<p><%= link_to 'Back', checklist_builder_checklists_path(@checklist_definition) %></p>
