<% content_tag_for :tr, consultation_form_summary  do %>
  <td> <%=consultation_form_summary.school_team %> </td>
  <td> <%=consultation_form_summary.user %> </td>
  <td> <%=consultation_form_summary.created_at.to_date %> </d>

  <%content_tag_for :span, consultation_form_summary, "show_hide_view" do %>
  <%= link_to_remote_degrades "view",
    {:url => consultation_form_summary, :method => :get} %>
  <% end %>
<% end %>
