 <table class="team_consultations_list">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Submitted by</th>
      <th>Date</th>
      <th>&nbsp;</th>
    <tr>
  </thead>
  <tbody>
    <%= render :partial => "consultation_forms/consultation_form_summary", :collection => consultation_forms %>
  </tbody>
</table>
