<% form_for(@consultation_form,:url => consultation_forms_path(:format =>:js), :html=>{:multipart => true, :target=>"upload_frame"}) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'consultation_forms/consultation_form', :object => f %>

  <p>
    <%= f.submit 'Create' %>
    <%= spell_check_button %>
  </p>
<% end %>
