<% consultation_form ||= show %>

<p>
  <b>User:</b>
  <%=h consultation_form.user %>
</p>

<p>
  <b>Date:</b>
  <%=h consultation_form.created_at.to_date %>
</p>

<% form_for(consultation_form) do |f| %>
  <%= render :partial => 'consultation_forms/consultation_form', :object => f %>
<% end %>