<%= error_messages_for :recommendation %>
 <p>
    Please indicate conclusions and recommendations by selecting from the following statements: <br />
    <%= recommendation_buttons(form) %>
   
<div id = "elig_criteria" style="display:none">
  <ul>    
    <li>File 1</li>
  </ul>
  <%=form.check_box :request_referral%> Based on early intervening services, the completion of the checklist, screening results (where appropriate) and a review of the eligibility criteria, the team feels there is reason to suspect an impairment.  Submit a referral to special education. 
</div>

</p>
<p>
	<b> Describe the evidence (e.g., intervention summary report for student, information from family, student work, observation checklists, attendance or achievement data, etc.) that support these conclusions and recommendations.
</b>
	<div> <%= form.text_area  :reason, :size => "60x4" , :style=>"margin-left:3em;"%> </div><br />
  </p>
