<div id="Recommendation">
  <p>Completed by <%= @recommendation.user %> on 
  <%= @recommendation.updated_at.to_s(:chatty) %> </p>
   <%=render :partial=>"recommendations/view",:locals=>{:recommendation=>@recommendation}%>
<%=link_to "Back", @recommendation.student%>
</div>
