<h3 class="conclusions_and_recommendations" ondblclick="$('checklists').toggle();"><span>Checklist for Culturally Responsive Practices</span>
</h3>

<div id="checklists">
  <%= link_to "Complete a Checklist for this Student", new_checklist_url %>
  <%cks = @student.checklists.group_by(&:tier).each do |g,ck| %>
    <h4><%= g.try(:title)%></h4>
    <%= render :partial => 'checklists/checklist', :collection => ck %>
  <%end%>
</div>

