<h3 class="conclusions_and_recommendations dbl_toggler" data-toggle-id="checklists"><span>Checklist for Culturally Responsive Practices</span>
</h3>
<%="Note: For this section to appear for your district, have the content builder enable the the checklist using the Checklist Builder" if current_district.abbrev.match(/^training/) %>

<div id="checklists">
  <%= link_to "Complete a Checklist for this Student", new_checklist_url %>
  <%cks = @student.checklists.group_by(&:tier).each do |g,ck| %>
    <h4><%= g.try(:title)%></h4>
    <%= render :partial => 'checklists/checklist', :collection => ck %>
  <%end%>
</div>

