<h3 class="extended_profile", ondblclick="$('extended_profile').toggle();"><span>Extended Profile</span></h3>
<% if @student.extended_profile? %>
  <%= link_to_function 'Show/Hide Extended Profile', "$('extended_profile').toggle()" %>
<% end %>
  <div id="extended_profile" style="display:none;" >
    <%=extended_profile(@student)%>
  </div>
