<% if @student.extended_profile? %>
  <%= link_to_function 'Toggle Extended Profile', "$('extended_profile').toggle()" %>
  <div id="extended_profile">
    <%=extended_profile(@student)%>
  </div>
<% end %>
