<% if !interventions.blank? %>
  <table class="intervention_list">
    <col style="width: 11em;" />
    <col style="width: 12em;" />
    <col style="width: 06em;" />
    <col style="width: 13em;" />
    <col style="width: 11em;" />
    <thead>
      <tr>
        <th>Objective Title</th>
        <th>Intervention Title</th>
        <th>Start Date</th>
        <th>Progress Monitor</th>
        <th> </th> 
      </tr>
    </thead>
    <tbody>
      <%=render :partial => 'intervention', :collection => interventions %>
    </tbody>
  </table>
<% else %>
 <p>No Interventions</p>
<% end %>

