  <% @flags_above_threshold.each  do |fc| %>

    <p>
      <b>This student list has <%=fc.threshold %>% or more of the students flagged for: 
<%=Flag::FLAGTYPES[fc.category][:humanize] %> 
</b>

      <%= links_and_attachments(fc, :p) %>

  Please review the appropriate core practices document(s) prior to selecting individual students for problem solving.
</p>
    <% end %>
