<h2 class="team_notes_header dbl_toggler" data-toggle-id="team_notes"> Team Notes </h2>
<%= link_to "Show/Hide Team Notes" ,"", :class => "toggler", "data-toggle-id" => "team_notes" %> <%=team_notes_count(@student) %>

<div id="team_notes" style="display:none;">
  <div id="new_team_note_link">
    <%= render :partial => 'add_note_link' %>
  </div>


  <%= render @student.comments %>
  <div id="no_team_notes"> </div>
</div>
