<% form_tag({:action=>'select'}, {:name => "select_students_form"}) do %>
  <div id='table'>
    <table>
      <%= render :partial =>'enrolled_student', :collection=>@students -%>
    </table>
  </div>
  <%='&nbsp;'*3%><%=pluralize @students.size,"student"%> selected
  <%= submit_tag "select for problem solving", :name => 'process' %>
<% end %>

