<h1>Editing school</h1>

<% form_for(@school, :url => district_school_path(@school), :method => :put) do |f| %>
  <%= render :partial => f %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', district_schools_path %>
