<h1>Editing schools</h1>

<% form_for(@schools) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @schools %> |
<%= link_to 'Back', schools_path %>
