<ul>
  <% District.all.each do |district| %>
    <li> <%=district %> <%GC.start %>
    <% cache ["prime_cache",district.id,district.students.last(:order => :updated_at)] do %>
      - <%=Time.zone.now.to_s(:short) %>

      <% district.students.find_each(:include=>[:team_consultations_pending, :flags,:ignore_flags,:custom_flags, {:interventions=>:user}]) do |student| %>
        <%cache ["status_display",student] do %>
          <%=status_display(student) %>
        <% end %>
      <% end %>
    <% end %>
    </li>
  <% end %>

