<div id="categories">
<% if @intervention_clusters %>
  <% remote_form_for :intervention_cluster, :url => select_interventions_categories_path(@goal_definition,@objective_definition) do |f| %>
    <%= f.label :id, 'Assign Category' %>
    <%= f.collection_select(:id, @intervention_clusters,:id,:title,{:prompt=>''},{:onchange=>"form.onsubmit()"}) %>
    <%= content_tag :noscript, submit_tag("Choose Category") %>
  <% end %>
<% end %>
</div>
<%= render :partial=>'interventions/definitions/select' %>
