<h1>Editing Flag Category</h1>

<%= form_for(@flag_category, :html => { :multipart => true }) do |f| %>
  <%= render :partial => f %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', flag_categories_path %>
