
body, html {
  margin:0;
  padding:0;
  background: #e2e3cf; /*#FFF;*/
  color: #000;
}

/* Hack to get IE to display fieldset/ legend correctly */

html fieldset {
  position: relative;
}

html legend {
  position: absolute;
  top: -1em;
  left: .5em;
}

html fieldset {
  position: relative;
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
}

/* Form Styles */

h1.form_banner {
  margin-right: auto;
  width: 50%;
  background: blue;
  color: white;
}

fieldset {
  background: #e2e3cf;
  margin-right: auto;
  width: 70%;
}

fieldset fieldset {
  width: 80%;
}

legend {
#  color: white;
#  font-size: 2em;
#  background: maroon;
#  padding: .5em 5em;
}

.fake_label, .new_form label {
  width: 11em;
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: .5em;
  display: block;
}

label.checkbox_label {
  float: none;
  text-align: left;
  width: auto;
} 

#student_fake_left {
  margin-bottom: 15em;
}

#student_fake_right label {
  width: 100%;
  float: none;
}

.small_bump_right {
  text-indent: 2em;
}

.small_bump_right img { 
  margin-right: 1em;
  margin-left: .2em;
}

.new_form fieldset fieldset label{
  width: 100%;
  width: 80%;
}

.form_row {
  white-space: nowrap;
  padding-bottom: .5em;
}

.form_row_wrap_label {
  white-space: normal;
  padding-bottom: .5em;
}

select.fixed_width, textarea.fixed_width {
  width: 60%;
}

.form_row form {
  display: inline;
}

.description {
  white-space: normal;
}

.submit {
  margin-left: 12em;
}

#ignoredflags div {
  display: none;
}

#studentflags div {
  display: none;
}

#wrap {
  background: #e2e3cf; /*#FFF;*/
  margin:0 auto;
}

#left_header {
  float: left;
  width: 20%;
  margin-left: 1%;
  display: inline;
  background: #fec689;

  border-style: solid;
  border-width: medium;
  border-color: #008B8B;

  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

#left_header {
  margin-left: 0%;
  background: white;
  
  border-style: none;
  border-width: medium;
  border-color: #008B8B;
}

#left_header img {
}

#footer {
  clear: both;
  text-align: center;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#right_header {
  float: left;
  background-color: #008B8B;
  text-align: center;
  width: 80%;
  margin-left: 0%;
}

#right_header h1 {
  display: block;
  font-weight: normal;
  color: white;
  font-size: 26px;
  /*border-top: ?*/
  /*top-border: 50px;*/
  margin-top: .3em;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

#right_header h2 {
  font-weight: normal;
  color: #fec689;
  font-size: 23px;
  margin-top: .2em;
  padding-top: 0;
  margin-bottom: .1em;
  padding-bottom: .1em;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#debug {
  margin-top: 1em;
  margin-left: auto;
}

#debug a, #debug a.visited {
  text-decoration: none;
  color: maroon;
}

fieldset.debug_info {
  text-align: left;
  margin: 1em;
  background: #eee;
}

h1 {
  font-size: 26px;

}
thead th.sort-active
  {
    background:#CAE8EA url(../images/spinner.gif) no-repeat 0 0;
    cursor:wait;
  }

thead th.sort-active a
  {
    color:#a80000 !important;
    cursor:wait;
  }

table .list-line-even {
    background: #EEF3FA;
}


.help-question {
  color: #FF66FF;
  font-size: 2em;
}

#student_overall .help-question {
  display: none;
}

.menu_icon {
  border: none;
}

li.plus_minus {
  list-style-type: none;
  list-style-image: url(/images/plus-8.png);
}

.plus_minus ul {
  display: none;
} 

.plus_minus ul li {
  list-style-type: square;
  list-style-image: none;
}

table.top_summary {
  margin-top: 10px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  color: #008B8B;
  background: #e2e3cf;
}

table.intervention_summary {
  margin-top: 10px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  color: #008B8B;
  background: #ffe9ad;
}

td.label {
  color: #000000;
  font-weight: bold;
}

.profile_page h2 {
  text-align: center;
  line-height: 110%;
  background: #ecede0; /*#EEF3FA;*/
}

/* Progress Monitor Graphs */
.vertgraph {
  position: relative; 
  left: 10px;  
  font-family: "Lucida Grande", Verdana, Arial;
}

.vertgraph dl dd {
  position: absolute;
  width: 28px;
  height: 100px;
  bottom: 45px;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  font-weight: bold;
  color: white;
  line-height: 1.5em;
  overflow: hidden;
}
      
.vertgraph dl dt {
  position: absolute;
  width: 60px;
  height: 34px;
  bottom: 0px;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  color: #444444;
  font-size: 0.8em;
}

.brclear {
  clear:both;
  height:0;
  margin:0;
  font-size: 1px;
  line-height: 0;
}

h2.team_notes_header
{
  background: #bce5e7;
}

h2.intervention_summary
{
  background: #ffe9ad;
}

h3.intervention_summary
{
  text-align: center;
  line-height: 110%;
}
h3.intervention_summary span
{
  border: 2px solid #ffe9ad;
}

h2.checklists
{
  background: #e1ecb2;
}

h2.conclusions_and_recommendations
{
  background: #d7c0dd;
}
