
body, html {
  margin:0;
  padding:0;
  background: #e2e3cf; /*#FFF;*/
  color: #000;
}

/* Hack to get IE to display fieldset/ legend correctly */

html fieldset {
  position: relative;
}

html legend {
  position: absolute;
  top: -1em;
  left: .5em;
}

html fieldset {
  position: relative;
  margin-top: 1em;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 98%;
}

/* Form Styles */

h1.form_banner {
  margin-right: auto;
  width: 50%;
  background: blue;
  color: white;
}

fieldset {
  background: #e2e3cf;
  margin-right: auto;
}

fieldset fieldset {
  width: 80%;
}

legend {
#  color: white;
#  font-size: 2em;
#  background: maroon;
#  padding: .5em 5em;
}

.fake_label, .new_form label {
  width: 13em;
  font-weight: bold;
  float: left;
  text-align: right;
  margin-right: .5em;
  display: block;
}

label.checkbox_label {
  float: none;
  text-align: left;
  white-space: nowrap;
} 

label.checkbox_label_span {
  float: none;
  display: inline;
  text-align: left;
  white-space: nowrap;
} 



/*This is now set dynamically on the student search page, as the content to the right has a variable height
#student_fake_left {
  margin-bottom: 22em;

}
*/

#student_fake_right label {
  width: 100%;
  float: none;
}

.small_bump_right {
  text-indent: 2em;
}

.small_bump_right img { 
  margin-right: 1em;
  margin-left: .2em;
}

.new_form fieldset fieldset label{
  width: 80%;
}

.form_row {
  white-space: nowrap;
  padding-bottom: .5em;
}

.form_row_wrap_label {
  white-space: normal;
  padding-bottom: .5em;
}

select.fixed_width, textarea.fixed_width {
  width: 60%;
}


select.full_width, textarea.full_width {
  width: 99%;
}

th {
vertical-align: text-top;
}

.form_row form {
  display: inline;
}

.description {
  white-space: normal;
}

.submit {
  margin-left: 12em;
}
.center_submit {
  text-align: center;
}

#ignoredflags div {
  display: none;
}

#studentflags div {
  display: none;
}

#wrap {
  background: #e2e3cf; /*#FFF;*/
  margin:0 auto;
}

#left_header {
  float: left;
  width: 20%;
  display: inline;
  background: white;

  text-align: center;
  margin-left: 0%;
  border-style: none;
  border-width: medium;
  border-color: #008B8B;

  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}



#footer {
  clear: both;
  text-align: center;
}

body, p, ol, ul, td, .consultation_forms textarea {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#right_header {
  float: left;
  background-color: #008B8B;
  text-align: center;
  width: 80%;
  margin-left: 0%;
}

#right_header h1 {
  display: block;
  font-weight: normal;
  color: white;
  font-size: 26px;
  /*border-top: ?*/
  /*top-border: 50px;*/
  margin-top: .3em;
  padding-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

#right_header h2 {
  font-weight: normal;
  color: white;
  font-size: 23px;
  margin-top: .2em;
  padding-top: 0;
  margin-bottom: .1em;
  padding-bottom: .1em;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

#debug {
  margin-top: 1em;
  margin-left: auto;
  width: 97%;
}

#debug a, #debug a.visited {
  text-decoration: none;
  color: maroon;
}

fieldset.debug_info {
  text-align: left;
  margin: 1em;
  background: #eee;
  width: 97%;
}

h1 {
  font-size: 26px;

}

h1.smaller {
  font-size: 24px;
}

thead th.sort-active
  {
    background:#e2e3cf; url(../images/spinner.gif) no-repeat 0 0;
    cursor:wait;
  }

thead th.sort-active a
  {
    color:#a80000 !important;
    cursor:wait;
  }

table .list-line-even {
    background: #e2e3cf;
}

table#fd-table-1 {
  width: 98%;

}

.help-question {
  color: #008b8b;
  font-size: 1.25em;
  font-weight: bold;
}

#student_overall .help-question {
  display: none;
}

.menu_icon {
  border: none;
}

li.plus_minus {
  list-style-type: none;
  list-style-image: url(/images/plus-8.png);
}

.plus_minus ul {
  display: none;
} 

.plus_minus ul li {
  list-style-type: square;
  list-style-image: none;
}

table.top_summary {
  margin-top: 10px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  color: #008B8B;
  background: #e2e3cf;
}

table.intervention_summary {
  margin-top: 10px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  color: #008B8B;
  background: #ffe9ad;
}

table.intervention_list {
  width: 99%;
  table-layout: fixed;
  text-align: left;

}
table.intervention_list td{
  white-space: nowrap;
  overflow: hidden;
}


.trunc {
  white-space: nowrap;
  overflow: hidden;
  width: 95%;
  
}


td.label {
  color: #000000;
  font-weight: bold;
}

.profile_page h2 {
  text-align: center;
  line-height: 110%;
  background: #ecede0; /*#EEF3FA;*/
}

h3.extended_profile 
{
  text-align: center;
}
h3.extended_profile span
{
  background: #ecede0; /*#EEF3FA;*/
}

#extended_profile table 
{
  width: 95%;
}

/* Progress Monitor Graphs */
.vertgraph {
  position: relative; 
  left: 10px;  
  font-family: "Lucida Grande", Verdana, Arial;
}

.vertgraph dl dd {
  position: absolute;
  width: 28px;
  height: 100px;
  bottom: 45px;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  font-weight: bold;
  color: white;
  line-height: 1.5em;
  overflow: hidden;
}
      
.vertgraph dl dt {
  position: absolute;
  width: 60px;
  height: 34px;
  bottom: 0px;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center;
  color: #444444;
  font-size: 0.8em;
}

.brclear {
  clear:both;
  height:0;
  margin:0;
  font-size: 1px;
  line-height: 0;
}

h2.team_notes_header
{
  background: #bce5e7;
}

h3.team_notes_header span
{
  background: #bce5e7;
}

h2.team_consultations_header
{
  background: #ffff99;
}

h3.team_consultations_header span
{
  background: #ffff99;
}




h2.intervention_summary
{
  background: #ffe9ad;
}

h3.intervention_summary span
{
  background: #ffe9ad;
}



div.profile_page h3 {
 text-align: center;
 line-height: 110%;
}

}

h3.checklists span
{
  background: #e1ecb2;
}
h2.conclusions_and_recommendations
{
  background: #d7c0dd;
}

h3.conclusions_and_recommendations span
{
  background: #d7c0dd;
}

div.questionDiv label ul
{
    padding-left: 15px;
    margin-left: 0px;
    margin-top: -15px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
}
  

.user_school_assignment label,.staff_assignment label {
  float: none;
  margin-left: .5em;
  display: inline;
}
#enrollments label {
  float: none;
  margin-left: .5em;
  display: inline;
}

#system_flags label {
  float: none;
  margin-left: .5em;
  display: inline;
}

table.team_consultations_list  th, td {
  text-align:left;
  padding-right: 15px;

}


table.team_consultations_list table  th {
  text-align:center;
  padding-right: 0px;
}

table.team_consultations_list table  td {
  padding-right: 0px;
}



table.intervention_builder th,td {
  text-align:left;
  padding-right: 15px;

}


table.grouped_progress_entry thead {
  display:table-header-group;
}

#flash_notice {
  color:green;
}

#session_notice {
  color:red;
  font-size:150%;
/*  display:none; */
}




#quicklist_items h2 {
  color:Navy;

}
#quicklist_items h2.objective {
  font-size: 18px;
  color:blue;
}
#quicklist_items h2.category{
  font-size: 17px;
  color:DodgerBlue;

}
