#header {
  display: none;
}

#left_column {
  display: none;
}

#breadcrumbs_and_banners {
  display: none;
}

#main {
  float: left;
  width: 90%;
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 1%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  border-style: solid;
  border-width: thin;
  border-color: #008B8B;
  font-size: 12px;
  background: #fff;
}

#debug {
  display: none;
}