<%= form.error_messages %>
<p>Groups are collections of students; you can use them to represent classes, neighborhoods (SLC), etc.</p>
<p>
  <%= form.label :title %><br />
  <%= form.text_field :title %>
</p>
