<h1>Editing group</h1>

<% form_for(@group) do |f| %>
<%= render :partial => f %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'User and Student Assignment', @group %> |
<%= link_to 'Back', groups_path %>
