<p>
  <b>Title:</b>
  <%=h @group %>
  </p>

  <h1> Users </h1>
  <div id="group_users">
    <%= render :partial => 'special_user_group', :collection=>@special_user_groups %>
  </div>

  <div id="new_user_assignment_form">
    <%= render :partial => 'add_user_assignment_link' %>

  </div>
  


  <p>
<%= link_to 'Back', groups_path %>
</p>
