<h1>Editing custom_probe</h1>

<% form_for(@custom_probe) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @custom_probe %> |
<%= link_to 'Back', custom_probes_path %>
