<h1>New custom_probe</h1>

<% form_for(@probe_definition,:url=>custom_probes_path, :method=>:post) do |f| %>
  <%=  render :partial=>"intervention_builder/probes/form", :locals=>{:form=>f, :probe_definition=>@custom_probe} %>

  <p>
    <%= hidden_field_tag :intervention, @intervention.id %>
    <%= f.submit "Create" %>
  </p>
<% end %>




