<ul>
  <% @int_defs.each do |int_def| %>
    <li>
      <%= int_def.title%> <%=int_def.description%>
    </li>
  <% end %>
</ul>

This is just a placeholder for now.  I'll add in the goal, objective, category, whether or not it is custom, and a link to view the intervention or recommend a monitor.
