<h1>New News</h1>

<% labelled_form_for(@news_item) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', news_items_path %>
