<table>
  <tr>
    <th>Teacher</th>
    <th>Student</th>
    <th>Principal</th>
    <th>Status</th>
    <th>Start tier</th>
    <th>End tier</th>
    <th>Request</th>
    <th>Response</th>
  </tr>
  <%= render :partial=>'override',:collection=>overrides, :locals=>{:actions=>actions} %>
</table>

