<h1>Your Override Requests</h1>
<div id="override_requests">
  <%= render :partial => 'layout', :locals=>{:overrides=> @principal_overrides[:user_requests],:actions=>[:delete]} %>
</div>


<% if @principal_overrides[:pending_requests] %>
  <h1>Pending Requests</h1>
  <div id="pending_overrides">
  </div>
<% end %>

<% if @principal_overrides[:responses] %>
  <h1>Responses</h1>
  <div id="pending_overrides">
  </div>
<% end %>

