<a name="new_checklist_definition_errors_anchor">
  <div id="new_checklist_definition_errors" style="display:none"></div>
</a>
<%- remote_form_for :checklist_definition, :url => checklist_builder_checklists_path do |f| -%>
  <%= render :partial => 'form', :locals => { :f => f, :checklist_definition => checklist_definition } %>
  <p>
    <%= submit_tag "Create" %> | 
    <%= link_to_function "Cancel", nil do |page|
      page.remove_content "new_checklist_definition"
      page.change_link "add_checklist_definition_link", "Add New Checklist Definition"
    end %>
  </p>
<%- end -%>
