<div id ="new_user_school_assignment">
  To change admin/access, just add the <%=obj %> again with the appropriate choice. <br />
<%=link_to_remote_degrades "New #{obj.capitalize} Assignment", :url =>new_user_school_assignment_url({:obj=>obj})%>
</div>
