<h1>Editing user_school_assignment</h1>

<% form_for(@user_school_assignment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @user_school_assignment %> |
<%= link_to 'Back', user_school_assignments_path %>
