<h1>New user_school_assignment</h1>

<% form_for(@user_school_assignment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', user_school_assignments_path %>
