<table>
  <tr class="cycle_odd_lvl2"> 
    <td colspan="2">Creation Date:</td>
    <td colspan="2"><%= question_definition.created_at.to_date.to_s(:long) %></td>
  </tr>
  <tr class="cycle_even_lvl2"> 
    <td colspan="2">Date of Last Update:</td>
    <td colspan="2"><%= question_definition.updated_at.to_date.to_s(:long) %></td>
  </tr>
</table>