<h1>How To Code Student Responses</h1>
<p>
As a general rule, enter the last response a student made for each equation and 
use the following codes to mark each equation:
</p>
<p>
<table id="studentList" width="98%">
  <tr>
    <th>Code</th>
    <th>What code indicates</th>
    <th>How to record code</th>
  </tr>
  <tr>
    <td>fingers</td>
    <td>Student counts up from number with "f" selected and puts up fingers to track counting.</td>
    <td>Select "f" under "Select counts up or counts on" at the number's position in the equation.</td>
  </tr>
  <tr>
    <td>counts</td>
    <td>Student counts on from the number with "c" selected, perhaps tapping, nodding, or mouthing the count.</td>
    <td>Select "c" under "Select counts up or counts on" at the number's position in the equation.</td>
  </tr>
  <tr>
    <td>counts everything</td>
    <td>Student puts up fingers for each addend and counts total.</td>
    <td>Check "counts everything" under "Select response code."</td>
  </tr>
  <tr>
    <td>shows both sets</td>
    <td>Student puts up group of fingers for each addend and does not count total.</td>
    <td>Check "shows both sets" under "Select response code."</td>
  </tr>
  <tr>
    <td>more than 3-4 seconds to respond</td>
    <td>Student uses thinking time to respond</td>
    <td>Check "more than 3-4 seconds to respond" under "Select response code."</td>
  </tr>
   <tr>
    <td>no response</td>
    <td>Student did not respond</td>
    <td>Check "no response" under "Select response code."</td>
  </tr>
   <tr>
    <td>self corrects</td>
    <td>Student corrects him or herself when responding</td>
    <td>Check "self corrects" under "Select response code."</td>
  </tr>
  <tr>
    <td>uses number relationship strategies</td>
    <td>Student uses number relationship strategies</td>
    <td>Check "uses number relationship strategies" under "Select response code."</td>
  </tr>
  
</table>
</p>
