<h1>Scoring Information</h1>
<p>
One point is given for each "correct" answer recorded.  An answer is correct if:
<ul>
<li>The answer entered for the student response is correct; and</li>
<li>No "f" or "c" codes are entered above either of the first two numbers in the equation; and</li>
<li>Either no response codes are checked or "Uses number relationship stragegies" is checked and/or "Self corrects" is checked.</li>
</ul>
<p>
In all other cases, the problem receives a score of 0.
</p>

