<h1>New Probe </h1>
<% form_for @probe, :url=>probes_url(@intervention,@intervention_probe_assignment) do |f| %>
  <%=render :partial=>f %>
 <p>
    <%= f.submit "Enter Score" %>
  </p>
<% end %>

<%= link_to 'Back', probes_path(@intervention,@intervention_probe_assignment) %>
