<%= render :partial=>"intervention_builder/goals/summary" %>

<p>
  <b>Objective Title:</b>
  <%=h @objective_definition.title %>
</p>

<p>
  <b>Objective Description:</b>
  <%=h @objective_definition.description %>
</p>
