<h1>Import Status and Results</h1>
<div id="import_results" style ="color:green" >
  <%=raw @results %>
</div>

<script>
  try
      {
        if (self.parent.frames.length != 0){
          window.top.location=self.location;
        }
      }
   catch (Exception) {};
 </script>
