<table id="intervention_comments_div">
  <%= render( :partial => "interventions/comments/comment", :collection =>  @intervention.comments.select(&:persisted?)) ||
  content_tag(:tr, content_tag(:td,"There are no comments for this intervention")) %>
</table>
