   <%= form.label :comment %>
   <%= form.text_area :comment, :class => 'spell_check' %> <br />
   <span class ="changed_comment_message">You must save the intervention to save any changes to this comment.</span>
