<h1>New intervention_comment</h1>

<% form_for(@intervention_comment, :url=>intervention_comments_path(@intervention)) do |f| %>

 <%= render :partial => f %>
    <%= f.submit "Create" %>
    <%= spell_check_button %>
  </p>
<% end %>


<%= link_to 'Back', intervention_path(@intervention) %>
