<h1>Editing Team Note</h1>

<% form_for(@student_comment) do |f| %>
 <%= render :partial=>f %>
<% end %>
  
  <%= render :partial => 'spell_check/spelling'  %>
  <%= link_to 'Back', current_student %>
