<h1>New Team Note for <%=@student_comment.student.fullname%> </h1>



<% form_for(@student_comment) do |f| %>
  <%= render :partial=>f %>
 <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

  <%= link_to 'Back', current_student %>
