<h1>New student_comment for <%=@student_comment.student.fullname%> </h1>


<strong>All notes will be viewable by all users of the Student Intervention & Monitoring System (SIMS).</strong>

<% form_for(@student_comment) do |f| %>
  <%= render :partial=>f %>
 <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', current_student %>
