<% unless elements.blank? %>
  <table border ="1">
    <thead>
      <th></th>
      <% 0.upto(elements.collect(&:answer_count).max - 1) do |i| %>
        <%= content_tag :th, i %>
      <% end %>
    </thead>
    <tbody>
      <%= render elements, :form => form %>
    </tbody>
  </table>
<% end %>


