    <br class="brclear" />
  <p>
    <%= label :naught,:probe_definition_id, "Assign Progress Monitor" %>
    <% if @recommended_monitors.size == 1 %>
      <%= @intervention_probe_assignment.title %>
    <% else %>
      <%= collection_select(:naught,:probe_definition_id, @recommended_monitors, :probe_definition_id, :title,{},{:onchange=>remote_function(:update=>'intervention_probe_assignment', :url=> ajax_probe_assignment_interventions_url, :method=>:get, :with=>"'id=' + $('naught_probe_definition_id').value"
), :class => "fixed_width"}) %>
    <% end %>
  </p>
    <br class="brclear" />
  <div id="intervention_probe_assignment">
    <%= render :partial => 'interventions/intervention_probe_assignment_detail' %>
  </div>
