<% unless @intervention.new_record? %>
<p>
  <%=content_tag :div, render_with_empty(:partial=>"interventions/comments/comment", :collection => @intervention.comments, :empty => "There are no comments for this intervention."), :id=>"intervention_comments_div" %>
<div class="fake_label">&nbsp;</div>
<%= link_to_function ("Show/Hide Comments", nil) do |page|
  page.toggle('intervention_comments_div')
  end
%>
</p>
<% end %>



