<h2>Participants</h2>


<div>
  <%= render :partial=>"participant",:collection=>@intervention.intervention_participants %>


<%= link_to "Add Participant", new_intervention_participant_path(@intervention) %>
</div>
