<h1><%=flash[:custom_intervention] ? "Create Custom" : "Assign New" %> Intervention and Progress Monitor</h1>

<div class ='new_form'>

  <% if @quicklist %>
   <div class="form_row_wrap_label">
        <div class ="fake_label">Intervention:</div> <%= @intervention.title %>
   </div>
    <%= render :partial =>'interventions/intervention' %>
  <% else %>
    <%= render :partial =>'interventions/goals/select' %>
  <% end %>
</div>
