<h1>Flag Descriptions</h1>

  <% labelled_form_for(@flag_description) do |f| %>

  <%= f.error_messages %>

  <% Flag::FLAGTYPES.each do |flag,values| %>
    <%= f.text_area flag , :size => "40x2" , :label => values[:humanize] %>
  <% end %>

 <p>
    <%= f.submit 'Update' %>
  </p>


<% end %>


