<%= link_to_function "What's new in SIMS?" , "$('whats_new').toggle()" %>
<div id="whats_new" style="display:none">
<pre>
06-07-2010 
           Flag Category/Core Practice Formatting Improvements (for content builder)
          
           Grouped Progress Entry- Dates should not be entered properly.
05-30-2010 Team Notes- You can now add attachments and links to new team notes.

           Students- The district admin can add attachments to students via the district admin tool.   
             These show up in the extended profile.   Images are displayed inline, so you can add a photo.

           Custom Interventions- You can now add attachments and links.

           Reports- The overall student report can now include intervention and progress montior details.


05-10-2010 Grouped Progress Entry- View/print available (via reports or the grouped progress entry screen)
           Flags- Science and Social Studies flags are now available
04-29-2010
          Grouped Progress Entry-  You can now add participants on the grouped progress entry screen.
04-11-2010 
          Grouped Progress Entry- Assign the same intervention/progress monitor to multiple 
            students and you can enter comments and add scores for all of them in a single screen.

          Preview Line Graph-  Show a line graph when entering scores for a progress monitor.

          Show multiple graphs-  When there are more than 8 points, a new graph is displayed under
            the original.

          Team Consultations- They can now be saved as a draft.
</pre>
</div>
