<%= link_to_function "What's new in SIMS?" , "$('whats_new').toggle()" %>
<div id="whats_new" style="display:none">
<table>
  <%# Remove old entries after 1 year %>

  <tr><th width="10%">12-11-2011</th><td>    <b>Team Consultations now have Undo Complete</b> <br />
      The team contacts can now undo the (accidential) completion of a Team Consultaion to reopen it.
  </td></tr>


  <tr><th width="10%">12-10-2011</th><td>    <b>(LSA) Append to ext_test_scores</b> <br />
      The LSA can now upload ext_test_scores_appends.csv. This is useful if you want to input specific scores, or if you want to add
      new scores for the year.  Make sure the file doesn't duplicate what is already in SIMS.
  </td></tr>

  <tr><th width="10%">11-22-2011</th><td>    <b>(LSA) District Documents</b> <br />
      The LSA can edit their district and add links and attachments.  These will show up for all users in the district <br />
      in the menu under "District Documents." <hr />
      <b>(LSA) Staff Assignments</b> <br />
      When there are staff assignments, the user edit screen now has a section to add/remove them.<hr />
      <b>(LSA + School Admin) Remembering Page in Groups, Students, and Users</b> <br />
      The page is remembered now along with any filter.   After creating or updating, a link back to the student, user, or group is added at the top.
  </td></tr>

  <tr><th width="10%">04-19-2011</th><td>     <b>Tier Locking Exemptions</b> <br />
      If a district chooses to lock their tiers (higher tiers cannot be completed for a student unless a recommendation or principal override is completed.) <br />
      They can now exempt goals, objectives, categories and intervention definitions in the builder.  If exempted, interventions in one of those exempted builders <br />
      will be available to students at any tier.  <br />
      <i>Note, the tier exemption in the builder is only available if the district has chosen to restrict tiers.   Otherwise it has no effect and is hidden from view.</i> <br />

  </td></tr>
  <tr><th width="10%">03-17-2011</th><td>Cosmetic changes to personal groups, school admin screens  <br />
      Personal Groups are now available to some districts (and on the wip server.)</td></tr>
  <tr><th width="10%">03-13-2011</th><td>
      Office 2007 attachments should now work in all browsers. (You don't need to convert to pdf if you were before.) <br />
      CSV Importers have been reviewed extensively.
  </td></tr>

  <tr><th width="10%">02-20-2011</th><td>
      When creating a new interventon, you can view a list of selected students. 
  </td></tr>
  <tr><th width="10%">02-11-2011</th><td>Recommendations can now be edited and deleted even after submitting.   <br />
      When choosing Other for a recommendation, you can designate whether or not the tier should advance.
           </td></tr>

  <tr><th width="10%">01-27-2011</th><td> when logging in, the district will be remembered if you mistyped your username or password.  <br />
      (Previously, you'd have to reselect the district from the dropdown.) <br />
      Line graphs should look better now, even when there is only one data point. <br />
      Same with aggregate graph in grouped progress entry.
           </td></tr>
  <tr><th width="10%">01-10-2011</th><td>CSV upload and student listing page should be significantly quicker.   <br />
      Problem with all students showing up as ESL and Special Ed has been fixed.  <br />
           Quicklist Selection screen has been reformatted.</td></tr>
  <tr><th width="10%">12-18-2010</th><td>District Admin is now Local System Administrator. <br />
           Quicklist Selection screen has been reformatted.</td></tr>
  <tr><th width="10%">11-20-2010</th><td> Unattached interventions report/management screen is now available for principals. <br />
           Ending an intervention now requires a reason and a fidelity judgement. </td></tr>
     <!--
       <tr><th width="10%">9-28-2010</th><td> Lunch status (in the extended profile) is now only visible to principals. <br />
           (District admins can change this.) </td></tr>
       <tr><th>9-06-2010</th><td> The breadcrumbs appear at the bottom of the page.  Team notes now have an indicator.   <br />
           Links in emails should now work better.<br />
           The student search page should be aligned now when there are several objectives.</td></tr>
       <tr><th>8-08-2010</th><td> You can now set a goal line for progress monitor graphs for students.  <br />
            You can set this when editing an intervention.</td></tr>
<tr><th>7-25-2010</th><td> Grouped Progress now offers an aggregate graph</td></tr>
<tr><th>6-07-2010</th><td> 
    Flag Category/Core Practice Formatting Improvements (for content builder)<br />
          
           Grouped Progress Entry- Dates should not be entered properly.  Fixes for IE6,7,8</td></tr>
       <tr><th>5-30-2010</th><td> Team Notes- You can now add attachments and links to new team notes.<br />

           Students- The district admin can add attachments to students via the district admin tool.   <br />
           These show up in the extended profile.   Images are displayed inline, so you can add a photo.<br />

           Custom Interventions- You can now add attachments and links.<br />

           Reports- The overall student report can now include intervention and progress montior details.</td></tr>


       <tr><th>5-10-2010</th><td> Grouped Progress Entry- View/print available (via reports or the grouped progress entry screen)<br />
           Flags- Science and Social Studies flags are now available</td></tr>
<tr><th>4-29-2010</th><td>
          Grouped Progress Entry-  You can now add participants on the grouped progress entry screen.</td></tr>
<tr><th>4-11-2010</th><td> 
    Grouped Progress Entry- Assign the same intervention/progress monitor to multiple <br />
    students and you can enter comments and add scores for all of them in a single screen.<br />

    Preview Line Graph-  Show a line graph when entering scores for a progress monitor.<br />

    Show multiple graphs-  When there are more than 8 points, a new graph is displayed under<br />
            the original.

            Team Consultations- They can now be saved as a draft.</td></tr>
        -->
    </table>
</div>
