<%= link_to_function "What's new in SIMS?" , "$('whats_new').toggle()" %>
<div id="whats_new" style="display:none">
<table>
<%# Remove old entries after 1 year %>

<tr><th width="10%">01-25-2013</th><td>    <b>(LSA) Option to now send emails for every Team Consultation Response.</b> <br/ >
</td></tr>
<tr><th width="10%">10-22-2012</th><td>    <b>(LSA) Custom interventions can now be restricted to the author, to content admins, or disabled.</b> <br/ >
</td></tr>
<tr><th width="10%">10-20-2012</th><td>    <b>Team Consultation Emails now include the team name.</b> <br/ >
</td></tr>
<tr><th width="10%">09-09-2012</th><td>    <b>Fixed some issues with Internet Explorer 9.</b>
</td></tr>
<tr><th width="10%">07-15-2012</th><td>    <b>Districts can now disable or restrict custom interventions.</b>
</td></tr>
<tr><th width="10%">07-15-2012</th><td>    <b>Fixed issue with Graph Preview</b>
</td></tr>
<tr><th width="10%">07-01-2012</th><td>    <b>Progress Monitor Descriptions are now displayed on the intervention screen</b>
</td></tr>



<tr><th width="10%">05-12-2012</th><td>    <b>(LSA) Admins of Schools.   School Admins are now determined by the admins_of_schools.csv.</b> <br />
    There is no need to set the school admin role when editing the user. <hr />
    <b>Forgot Password </b> <br />
    When enabled (by the LSA on the edit district screen) users can press the Forgot Password button to receive an email and reset their password.
</td></tr>


<tr><th width="10%">12-12-2011</th><td>    <b>Assign yourself as participant is now checked by default when creating a new intervention.</b> <br />
      Uncheck it if you do not want to be a participant, if you forget you can remove yourself by editing the intervention.
  </td></tr>

  <tr><th width="10%">12-11-2011</th><td>    <b>Team Consultations now have Undo Complete</b> <br />
      The team contacts can now undo the (accidential) completion of a Team Consultaion to reopen it.
  </td></tr>

  <tr><th width="10%">12-10-2011</th><td>    <b>(LSA) Append to ext_test_scores</b> <br />
      The LSA can now upload ext_test_scores_appends.csv. This is useful if you want to input specific scores, or if you want to add
      new scores for the year.  Make sure the file doesn't duplicate what is already in SIMS.
  </td></tr>

  <tr><th width="10%">11-22-2011</th><td>    <b>(LSA) District Documents</b> <br />
      The LSA can edit their district and add links and attachments.  These will show up for all users in the district <br />
      in the menu under "District Documents." <hr />
      <b>(LSA) Staff Assignments</b> <br />
      When there are staff assignments, the user edit screen now has a section to add/remove them.<hr />
      <b>(LSA + School Admin) Remembering Page in Groups, Students, and Users</b> <br />
      The page is remembered now along with any filter.   After creating or updating, a link back to the student, user, or group is added at the top.
  </td></tr>
      </table>
</div>
