<h1>Listing Goals</h1>

<table class="intervention_builder">
  <thead>
  <tr>
    <th> </th>
    <th> </th>
    <th>Title</th>
    <th>Description</th>
    <th>Updated On</th>
  </tr>
</thead>
<tbody id ="goal_definition_list">
<%= render :partial => 'goal_definition', :collection => @goal_definitions %>
</tbody>
</table>

<br />

<%= link_to 'New Goal', new_intervention_builder_goal_path %>
