<table class="team_consultations_list">
  <thead>
    <tr>
      <th>Team Name</th>
      <th>Contact Person</th>
      <th>Submitted by</th>
      <th>Date</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
      <%=render :partial=>"team_consultations/team_consultation", :collection=>team_consultations %>
  </tbody>
</table>

