<p>
  <b>Student:</b>
  <%=h @team_consultation.student %>
</p>

<p>
  <b>Requestor:</b>
  <%=h @team_consultation.requestor %>
</p>

<p>
  <b>Recipient:</b>
  <%=h @team_consultation.recipient %>
</p>

