<% team_consultation ||= @team_consultation || show %>

<% content_tag_for :tr, team_consultation, 'show'  do%>
  <td colspan = "6">
    <% team_consultation.consultation_forms.each do |cf| %>
      <% form_for(cf) do |consultation_form| %>
        <%=h cf.user %> <%= cf.created_at.to_date %>
        <%= render :partial => 'consultation_forms/consultation_form', :object => consultation_form %>
      <% end %>
    <% end %>

  </td>
<% end %>

