<p>
  <b>Student:</b>
  <%=h @team_consultation.student %>
</p>

<p>
  <b>Requestor:</b>
  <%=h @team_consultation.requestor %>
</p>

<p>
  <b>Recipient:</b>
  <%=h @team_consultation.recipient %>
</p>

<% form_for(@team_consultation) do |f| %>
  <% f.fields_for :consultation_form do |consultation_form| %> 
    <%= render :partial => 'consultation_forms/consultation_form', :object => consultation_form %>
  <% end %>

<% end %>
