<p> Select the users that schedule team consultations for <%= current_school %>.   These users will appear in the dropdown when users request a team consultation from the student profile screen. </p>
<% form_tag do %>
<table>
  <thead>
  </thead>
  <tbody>
    <% @users_in_groups.each do |user_row| %>
      <tr>
        <%user_row.each do |user| %>
          <td>
            <%= check_box_tag 'user_ids[]',user.id, checked = current_school.team_scheduler_user_ids.include?(user.id), :id => dom_id(user) %>
            <%= label_tag dom_id(user), user.to_s %>
            <%#= %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= submit_tag %>
<% end %>


