<p>
  <b>User:</b>
  <%=h @team_scheduler.user %>
</p>

<p>
  <b>School:</b>
  <%=h @team_scheduler.school %>
</p>


<%= link_to 'Edit', edit_team_scheduler_path(@team_scheduler) %> |
<%= link_to 'Back', team_schedulers_path %>