<% view = false unless view %>
<% edit = false unless edit %>
<h3><%= @checklist.text %></h3>
<em>Directions:</em>
<p><%= @checklist.directions %></p>
  <%= render :partial => 'checklists/question_definition', :collection=>@checklist.question_definitions, :locals=>{:view=>view,:edit=>edit} %>
