<ol style="list-style-type: upper-alpha">
  <%- radio_button_group(@checklist,relevant) do |answer_definition, is_checked| %>
    <li>
  <%= radio_button_tag "element_definition[#{relevant.id}]", answer_definition.id, is_checked%>
  <label for="<%="element_definition_#{relevant.id}_#{answer_definition.id}"%>"> 
    <%= markdown_with_span(answer_definition.text) %>
  </label>
  </li>
  <%- end -%>
</ol>

