<%= render :partial =>"breadcrumbs_and_banners" %>
<div id="checklist">
  <%- form_for(@checklist) do |f| -%>
    <%= render :partial => f, 
    :locals => { :checklist => @checklist ,:edit=>true} %>
    <p>
    <%= submit_tag "Submit#{' and Make Recommendation' if @checklist.checklist_definition.recommendation_definition}" %>
    <%= submit_tag "Save Draft", :name=>:save_draft %>
    </p>
    <%- end -%>
</div>
