<%= render :partial =>"breadcrumbs_and_banners" %>
<div id="checklist">
  <%- form_for(@checklist,:name=>"checklist_form") do |f| -%>
    <%= render :partial => f %>
    <p>
    <%= submit_tag "Submit and Make Recommendation" %>
    <%= submit_tag "Save Draft", :name=>:save_draft %>
    </p>
    <%- end -%>
</div>
