<h2>Roles</h2>
  <% @user.available_roles.each do |role| %>
      <%=check_box_tag "user[role_ids][]", role.id,@user.roles.include?(role), {:id=>dom_id(role)}%> 
      <%=label_tag dom_id(role), role%>
<% end %>
<%=hidden_field_tag "user[role_ids][]",""%>

