<h2>Roles</h2>
  <table>
    <tbody>
      <% Role::ROLES.in_groups_of(2,false).each do |role| %>
        <tr>
          <td><%= render :partial => 'role',:object => role[0] %></td>
          <td><%= render :partial => 'role',:object => role[1]  if role[1] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%=hidden_field_tag "user[roles][]",""%>


