<div id="user_staff_assignments">
  <% form.fields_for :staff_assignments do |staff_assignment| %>
    <%= render :partial => 'staff_assignment',:object => staff_assignment %>
  <% end %>
    <div class="form_row">
      <%= add_user_staff_assignment_link "Add a staff assignment", form %>
    </div>
  </div>
