<h1>Editing user</h1>

<%= labelled_form_for(@user, :url => district_user_path(@user), :method => :put) do |f| %>
  <%= render :partial => f %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', index_url_with_page %>
