<h1>New user</h1>

<% form_for(@user, :url => district_users_path) do |f| %>
  <%= render :partial => f %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', district_users_path %>