<div id="definitions">
<% if @intervention_definitions %>
  <% remote_form_for :intervention_definition, :url => select_interventions_definitions_path(@goal_definition,@objective_definition,@intervention_cluster) do |f| %>
    <%= f.collection_select(:id, @intervention_definitions,:id,:title,{},{:onchange=>"form.onsubmit()"}) %>
    <%= submit_tag("Choose Intervention") %>
  <% end %>

<% end %>
</div>
<%= render :partial =>'interventions/intervention' %>
