<% @title1 = 'Student Reports:' 
	 @title2 = 'Reports Selection' %>

<h2>Choose Student Flag Report Format for Selected Students</h2>

<% form_tag do %>
  Grade: <%= select(:report_params, :grade, @grades) %><br/ >
	Format: <%= select :report_params, :format, @filetypes, {:selected => @selected_filetype} %>
  <%= submit_tag 'Generate Report', :name => 'generate' %>
<% end %>
<%= @report %>