<% if current_school && cicos=current_school.cico_settings.where_participant(current_user) and cicos.present? %>
  <li>Student Check-In</li>
  <ul>
    <% cicos.each do |cico| %>
      <li>
      <%=link_to h(cico.title), cico_setting_cico_school_days_url(cico.id) %>

      </li>

    <% end %>


  </ul>
<% end %>
