<% content_for :bottom_of_main do %>
  <p>
  Hold your mouse over  <%=help_popup("Hovering over the ? will show you additional help for some features in SIMS")  %> to find additional help.
  </p>
<% end %>
<%= render :template => 'layouts/application' %>
